/*
    메인 색상 (진한 순서대로)
    #151426 rgb(21, 20, 38)
    #010440 rgb(1, 4, 64)
    #323673 rgb(50, 54, 115)
    #6A6DA6 rgb(106, 109, 166)
    #F0F1F2 rgb(240, 241, 242)
*/

.btn {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: ns-eb;
  border: none;
  outline: none;
  color: #fff;
}

.st1 {
  background-color: #151426;
}

.st2 {
  background-color: #010440;
}

.st3 {
  background-color: #323673;
}

.st4 {
  background-color: #6a6da6;
}
