* {
  font-size: 18px;
}
.agree-box-wrap {
  width: 550px;
  margin: 0 auto;
}
.agree-box-title {
  font-size: 24px;
  font-family: ns-b;
  padding: 30px 0px;
  color: #010440;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
.next-button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ccc;
  background-color: #010440;
  font-size: 16px;
  margin: 45px 0px;
  height: 50px;
  font-family: ns-b;
}
.next-button:disabled {
  background-color: #f0f1f2;
  color: #fff;
  font-family: ns-b;
  font-size: 16px;
}
.check input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #010440;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.check {
  padding: 10px 0px;
}
.popUpBtn {
  color: #6e6e6e;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background-color: #fff;
  position: absolute;
  right: 0;
}
.check {
  position: relative;
}

/*모달창 css*/
.modal-close-btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.modal-content {
  border-radius: 0;
  background-color: #fff;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}
