* {
  font-size: 18px;
}
.agree-box-wrap {
  width: 650px;
  margin: 0 auto;
}
.agree-box-title {
  font-size: 24px;
  font-family: ns-b;
  padding: 30px 0px;
  color: #010440;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
.next-button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ccc;
  background-color: #010440;
  font-size: 16px;
  margin: 45px 0px;
  height: 50px;
  font-family: ns-b;
}
.next-button:disabled {
  background-color: #f0f1f2;
  color: #fff;
  font-family: ns-b;
  font-size: 16px;
}
.check input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #010440;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.check {
  padding: 10px 0px;
  position: relative;
}
.popUpBtn {
  color: #6e6e6e;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background-color: #fff;
  position: absolute;
  right: 0;
}

/*모달창 css*/

 
.modal-close-btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
  padding-left: 20px;
}
.modal-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content {
  border-radius: 0;
  background-color: #fff;
  border: 1px solid black;
  width: 650px;
  height: 350px;
  padding: 30px;
}
.modal-title{
  font-size: 24px;
  font-family: ns-b;
  float: left;
  width: 90%;
}
.modal-close-btn-wrap{
  float: left;
  width: 10%;
}
.modalIcon {
  color: #1b1b1b;
  font-size: 32px;
  margin: 5px 0px;
}
.option-table{
  border-spacing: 0;
  margin-top: 80px;
  margin-bottom: 5px;
  width: 100%;
  border-top:3px solid black;
}
.option-table th,td{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}
.option-ul{
  padding: 20px;
}
.option-ul>li {
  list-style: disc;
}
.text-underline{
  text-decoration: underline;
  font-family: ns-b;
  
}

.required-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.required-modal-content{
  border-radius: 0;
  background-color: #fff;
  border: 1px solid black;
  width: 650px;
  height: 650px;
  padding: 30px;
}
.scroll-wrap{
  width: 630px;
  height: 600px;
  overflow-y: scroll;
  font-size: 15px;  
}
.required-modal-title{
  font-size: 24px;
  font-family: ns-b;
  float: left;
  width: 90%;
  margin-bottom: 40px;
}
