.mypage-wrap {
  margin: 0 auto;
  width: 1200px;
}
.mypage-title {
  text-align: center;
  font-size: 24px;
  font-family: ns-m;
  padding: 30px 0;
}
.mypage-side > ul {
  list-style-type: none;
  box-sizing: border-box;
}
.mypage-side > ul > li {
  height: 40px;
  line-height: 40px;
}
.mypage-side > ul > li > a {
  display: block;
  width: 100%;
}
.my-title {
  font-size: 24px;
  font-family: ns-eb;
  color: #010440;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* 비밀번호 확인 */
.pw-check-zone-content {
  margin-top: 30px;
  text-align: center;
  border: 3px solid #f8f8f8;
  padding: 50px;
}
.pw-check-zone-content > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.pw-check-zone-content > div > input {
  width: 50%;
  margin-right: 3px;
}
.pw-check-zone-content > div > button {
  width: 10%;
  height: 43px;
  line-height: 43px;
  padding: 0px;
  font-size: 15px;
}
