.pw-wrap {
  overflow: hidden;
}
.pw-wrap input {
  float: left;
  width: 60%;
  margin-right: 10px;
}
.pw-btn {
  float: left;
  width: 30%;
  border: none;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background-color: #010440;
  font-family: ns-r;
  font-size: 15px;
}
.pw-hide {
  width: 100%;
}

/*프로필이미지*/
.my-info-profile-label {
  margin: 5px 0 20px 0;
  font-family: ns-b;
  color: #010440;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}
.my-info-profile-img-input {
  display: none;
}
.join-img-wrap {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
  margin: 0 auto;
}
.join-img-wrap > img {
  width: 100%;
  height: 100%;
  border-radius: 90%;
  object-fit: cover;
}
.join-profile-wrap {
  padding: 5px 0px;
  text-align: center;
}
