.pw-wrap{
    overflow: hidden;
}
.pw-wrap input{
    float: left;
    width: 60%;
    margin-right: 10px;
}
.pw-btn{
    float: left;
    width: 30%;
    border: none;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #151426;
    font-family: ns-r;
    font-size: 14px;
}
