.dashboard-wrap {
  width: 1000px;
}
.dashboard-title {
  font-size: 24px;
  font-family: ns-eb;
  color: #010440;
  margin-bottom: 40px;
}

.dashboard-wrap select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.pieDashboard {
  width: 500px;
  height: 500px;
}
.barDashboard {
  width: 800px;
  height: 400px;
}
