/*
    메인 색상 (진한 순서대로)
    #151426 rgb(21, 20, 38)
    #010440 rgb(1, 4, 64)
    #323673 rgb(50, 54, 115)
    #6A6DA6 rgb(106, 109, 166)
    #F0F1F2 rgb(240, 241, 242)
*/

@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSansKR-Light.ttf);
}

@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSansKR-Regular.ttf);
}

@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSansKR-Bold.ttf);
}

@font-face {
  font-family: ns-eb;
  src: url(/public/font/NotoSansKR-ExtraBold.ttf);
}

@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSansKR-Black.ttf);
}

@font-face {
  font-family: ns-m;
  src: url(/public/font/NotoSansKR-Black.ttf);
}

.community-all-wrap {
  width: 1200px;
}

.community-top-wrap {
  display: flex;
  justify-content: space-between;
}

.community-main-top {
  font-size: 24px;
  font-family: ns-eb;
  color: #010440;
  margin-bottom: 20px;
}

.community-search-box {
  width: 500px;
  height: 40px;
  display: flex;
  margin-left: 400px;
  border: 1px solid rgb(106, 109, 166, 0.2);
  position: relative;
}

.community-search-box > select {
  border: 1px solid #ccc;
  width: 20%;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 5px;
  font-size: 15px;
}

.community-search-box > .list-input-wrap {
  width: 65%;
}

.list-input-wrap > div > .input > #searchBox {
  height: 40px;
  border: none;
  font-size: 15px;
  padding-left: 10px;
}

.community-search-box > button {
  width: 15%;
}

.community-write-btn {
  width: 100px;
}

.community-write-btn > button {
  height: 40px;
}

.community-list-wrap {
  margin-top: 40px;
}

.community-item-wrap {
  position: relative;
}

.community-item {
  display: flex;
  border-top: 1px solid rgb(106, 109, 166, 0.2);
}

.community-item:hover {
  box-shadow: 0 0 5px 0 rgba(106, 109, 166, 0.2);
  background-color: #f0f1f2;
  transition: all 0.2s linear;
  transform: scale(1.01);
  cursor: pointer;
  /* #6A6DA6 rgb(106, 109, 166)
  #F0F1F2 rgb(240, 241, 242) */
}

.community-item:hover > .community-item-info > .community-item-title {
  text-decoration: underline;
}

.community-item:hover {
  border-top: 1px solid rgb(106, 109, 166, 0.5);
  border-bottom: 1px solid rgb(106, 109, 166, 0.5);
}

.community-item-info {
  padding: 10px 15px;
}

.community-more {
  height: 80px;
}

.community-more > button {
  height: 100%;
  font-size: 20px;
  letter-spacing: 0.2ch;
}

/* communityWrite/Frm */

.community-frm-top {
  display: flex;
  justify-content: space-between;
}

.community-thumbnail {
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
}

.community-thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community-info {
  width: 900px;
}

.community-info-tbl {
  width: 100%;
  border-spacing: 0;
}

.community-info-tbl tr > td:first-child {
  text-align: center;
  width: 150px;
  padding: 10px 20px;
  background-color: rgb(21, 20, 38, 0.1);
  border: 1px solid rgb(21, 20, 38, 0.1);
}

.community-info-tbl tr > td:last-child {
  padding: 10px 20px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03cm;
}

#thumbnail {
  font-size: 16px;
}

.community-info-tbl tr > td > input[type="text"] {
  border: none;
  padding: 0;
}

.community-info-tbl > tbody > tr {
  height: 70px;
}

/* 커뮤니티 분류 */
.community-type {
  display: flex;
  height: 48px;
  justify-content: space-around;
}

.community-type span {
  padding-left: 5px;
}

.checkboxLabel {
  padding: 10px;
}

.community-content-box {
  margin: 20px 0px;
}

.community-btn-box {
  margin-top: 20px;
}

.community-btn-box > button {
  height: 70px;
  font-size: 18px;
}

.community-content-box > textarea {
  width: 100%;
  height: 300px;
}

.community-content-box .ql-container {
  height: 400px;
}

.community-item {
}

.community-item-img {
  width: 210px;
  height: 210px;
  text-align: center;
}

.community-item-img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.community-item-img .default-img {
  padding-top: 20px;
  width: 200px;
  height: 200px;
}

/* 커뮤니티 리스트 */
.community-item-title {
  font-size: 24px;
  font-family: ns-black;
  color: #010440;
  letter-spacing: 0.02cm;
  /* #323673 */
}

.community-item-subtitle {
  font-size: 18px;
  font-family: ns-b;
  color: #404259;
  margin-bottom: 30px;
}

.community-item-parti > span,
.community-item-date > span,
.community-item-writer > span {
  padding-right: 5px;
}

.community-item-parti {
}

.community-item-parti,
.community-item-parti > span {
  font-family: ns-b;
  color: #6a6da6;
}

.community-item-date > span {
  font-family: ns-b;
}

.community-item-writer > span {
  font-family: ns-b;
}

.ab-btn1 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  color: red;
  font-size: 30px;
}

.search-btn {
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  right: 0;
  padding-right: 10px;
  padding-top: 5px;
  cursor: pointer;
  color: #010440;
}
