/*
    메인 색상 (진한 순서대로)
    #151426 rgb(21, 20, 38)
    #010440 rgb(1, 4, 64)
    #323673 rgb(50, 54, 115)
    #6A6DA6 rgb(106, 109, 166)
    #F0F1F2 rgb(240, 241, 242)
*/

@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSansKR-Light.ttf);
}

@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSansKR-Regular.ttf);
}

@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSansKR-Bold.ttf);
}

@font-face {
  font-family: ns-eb;
  src: url(/public/font/NotoSansKR-ExtraBold.ttf);
}

@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSansKR-Black.ttf);
}

@font-face {
  font-family: ns-m;
  src: url(/public/font/NotoSansKR-Black.ttf);
}

.community-all-wrap {
  width: 1200px;
}

.community-top-wrap {
  display: flex;
  justify-content: space-between;
}

.community-main-top {
  margin-top: 20px;
  font-size: 24px;
  font-family: ns-eb;
  color: #010440;
  margin-bottom: 40px;
}

.community-search-box {
  width: 500px;
  height: 40px;
  display: flex;
  margin-left: 400px;
  border: 1px solid rgb(106, 109, 166, 0.2);
  position: relative;
}

.community-search-box > select {
  border: 1px solid #ccc;
  width: 20%;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 5px;
  font-size: 15px;
  font-family: ns-b;
}

.community-search-box > select > option {
  font-size: 15px;
  font-family: ns-b;
}

.community-search-box > .list-input-wrap {
  width: 65%;
}

.list-input-wrap > div > .input > #searchBox {
  height: 40px;
  border: none;
  font-size: 15px;
  padding-left: 10px;
}

.community-search-box > button {
  width: 15%;
}

.community-write-btn {
  width: 100px;
}

.community-write-btn > button {
  height: 40px;
  font-size: 15px;
  line-height: 10px;
  background-color: #323673;
}

.community-list-wrap {
  margin-top: 40px;
}

.community-item-wrap {
  position: relative;
}

.community-item {
  display: flex;
  border-top: 1px solid rgb(106, 109, 166, 0.2);
}

.community-item:hover {
  box-shadow: 0 0 5px 0 rgba(106, 109, 166, 0.2);
  background-color: #f0f1f2;
  transition: all 0.2s linear;
  transform: scale(1.01);
  cursor: pointer;
  /* #6A6DA6 rgb(106, 109, 166)
  #F0F1F2 rgb(240, 241, 242) */
}

.community-item:hover > .community-item-info > .community-item-title {
  text-decoration: underline;
}
/* 
.community-item:hover {
  border-top: 1px solid rgb(106, 109, 166, 0.5);
  border-bottom: 1px solid rgb(106, 109, 166, 0.5);
} */

.community-item-info {
  padding: 10px 15px;
}

.community-more {
  height: 80px;
}

.community-more > button {
  height: 80%;
  font-size: 20px;
  letter-spacing: 0.2ch;
  background-color: #151426;
}

/* communityWrite/Frm */

.community-frm-top {
  display: flex;
  justify-content: space-between;
}

.community-thumbnail {
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
}

.community-thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community-info {
  width: 900px;
}

.community-info-tbl {
  width: 100%;
  border-spacing: 0;
}

.community-info-tbl tr > td:first-child {
  text-align: center;
  width: 150px;
  padding: 10px 20px;
  background-color: rgb(21, 20, 38, 0.1);
  border: 1px solid rgb(21, 20, 38, 0.1);
}

.community-info-tbl tr > td:last-child {
  padding: 10px 20px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03cm;
}

#thumbnail {
  font-size: 16px;
}

.community-info-tbl tr > td > input[type="text"] {
  border: none;
  padding: 0;
}

.community-info-tbl > tbody > tr {
  height: 70px;
}

/* 커뮤니티 분류 */
.community-type {
  display: flex;
  height: 48px;
  justify-content: space-around;
}

.checkboxLabel {
  padding: 10px;
}

.checkboxLabel > span {
  padding: 7px;
}

.community-content-box {
  margin: 20px 0px;
}

.community-btn-box {
  margin-top: 20px;
}

.community-btn-box > button {
  height: 70px;
  font-size: 18px;
}

.community-content-box > textarea {
  width: 100%;
  height: 300px;
}

.community-content-box .ql-container {
  height: 400px;
}

.community-item {
  width: 100%;
}

.community-item-img {
  width: 220px;
  height: 220px;
  text-align: center;
}

.community-item-img > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.community-item-img .default-img {
  padding-top: 20px;
  width: 200px;
  height: 200px;
}

/* 커뮤니티 리스트 */
.community-item-title {
  font-size: 24px;
  font-family: ns-black;
  color: #010440;
  letter-spacing: 0.02cm;
  /* #323673 */
}

.community-item-subtitle {
  font-size: 18px;
  font-family: ns-b;
  color: #323673;
}

.community-item-parti > span,
.community-item-date > span,
.community-item-writer > span {
  padding-right: 5px;
}

.community-item-parti {
}

.community-item-parti,
.community-item-parti > span {
  font-family: ns-b;
  color: #6a6da6;
}

.community-item-date > span {
  font-family: ns-b;
}

.community-item-writer > span {
  font-family: ns-b;
}

.community-item-wrap > .community-item > .heart-btns > .ab-btn1 {
  position: absolute;
  bottom: 0;
  right: 2.7%;
  padding-right: 10px;
  padding-bottom: 10px;
  color: red;
  font-size: 30px;
  z-index: 100;
}

.heart-btns > .ab-btn1:hover {
}

.community-item-wrap > .community-item > .heart-btns > .ab-btn2 {
  position: absolute;
  bottom: 0;
  right: 2.7%;
  padding-right: 10px;
  padding-bottom: 10px;
  color: red;
  font-size: 30px;
  z-index: 100;
}

.heart-btns > .ab-btn2:hover {
}

.community-item-wrap > .community-item > .sh-btn1 {
  position: absolute;
  bottom: 7%;
  right: 1%;
  color: gray;
}

.search-btn {
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  right: 0;
  padding-right: 10px;
  padding-top: 5px;
  cursor: pointer;
  color: #010440;
}

.community-view-wrap {
  overflow: hidden;
}

.community-view-thumbnail {
  width: 30%;
  box-sizing: border-box;
  height: 350px;
  border: 1px solid #ccc;
  text-align: center;
  float: left;
}

.community-view-thumbnail > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.community-view-info {
  float: left;
  width: 70%;
  height: 350px;
  padding-left: 25px;
  box-sizing: border-box;
}

.community-view-title {
  font-size: 30px;
  font-family: ns-black;
  color: #010440;
}

.community-view-subtitle {
  font-size: 20px;
  font-family: ns-b;
  color: #404259;
  padding: 3px 0px;
}

.community-view-type {
  overflow: hidden;
  margin-bottom: 2px;
}

.community-view-type > div {
  float: left;
}

.community-type input[type="checkbox"] {
  height: 15px;
}

.community-type > .type-name span {
  padding: 2px 15px;
}

.community-type > .type-name {
  padding-right: 5px;
}

.keyword {
  border-radius: 10px;
  color: #fff;
  font-family: ns-b;
  font-size: 12px;
  letter-spacing: 0.03cm;
}

.key1 {
  background-color: #010440;
}

.key2 {
  background-color: #323673;
}

.key4 {
  background-color: #404259;
}

.key8 {
  background-color: #6a6da6;
}

.community-view-writer,
.community-view-date,
.community-view-email {
  font-family: ns-r;
  padding-bottom: 10px;
}

.community-view-parti {
  color: #6a6da6;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  font-family: ns-b;
}

.community-view-btns {
  padding-top: 30px;
}

.community-view-btns div {
  float: left;
}

.community-view-join-btn {
  overflow: hidden;
}

.community-view-join-btn > button {
  font-size: 16px;
}

.community-view-btns .community-view-join-btn {
  width: 80%;
}

.community-view-like-btn,
.community-view-share-btn {
  padding-left: 12px;
}

.community-view-like-btn > span {
  padding-left: 10px;
  font-size: 46px;
  color: red;
  cursor: pointer;
}

.community-view-share-btn > span {
  font-size: 46px;
  color: gray;
  cursor: pointer;
}

.community-view-content-top {
  width: 100%;
  float: left;
}

.community-view-content {
  float: left;
}

.community-view-content p {
  width: 1200px;
}

.community-view-content-top {
  font-size: 24px;
  font-family: ns-eb;
  color: #010440;
  margin: 40px 0;
}

.community-view-wrap > .ql-editor {
  padding: 0;
}

.community-view-bottom-btns {
  margin-top: 50px;
  float: right;
  display: flex;
  justify-content: space-between;
}

.community-view-bottom-btns > div {
  padding-left: 5px;
}

.community-view-bottom-btns span {
  font-family: ns-b;
  color: #323673;
}

.community-view-update,
.community-view-delete,
.community-view-back {
  float: left;
  cursor: pointer;
}

.community-view-board-zone {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.community-item-types {
  overflow: hidden;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.community-types {
  float: left;
  overflow: hidden;
}

.community-types > div {
  float: left;
}

.community-types > .type-name > span {
}

.community-types input[type="checkbox"] {
  height: 15px;
}

.community-types > .type-name {
  padding-right: 5px;
}

.community-types > .type-name span {
  padding: 2px 15px;
}

.community-view-board {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.board-top {
  padding-top: 25px;
  border-top: 1px solid #ccc;
  font-size: 24px;
  font-family: ns-eb;
  color: #010440;
  margin: 30px 0;
}

.board-item {
  border-radius: 20px;
  /* max-height: 800px; */
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fcfcfc;
}

.board-item-info {
  padding: 20px;
  padding-left: 30px;
}

.board-item-type {
  position: relative;
}

.board-item-profile {
  overflow: hidden;
  padding-bottom: 20px;
}

.board-item-account,
.board-item-profileInfo {
  float: left;
}

.board-item-account > span {
  font-size: 60px;
}

.board-item-profileInfo {
  padding: 0 10px;
}

.board-item-profileInfo > .board-item-writer {
  font-size: 20px;
  font-family: ns-b;
}

.board-item-profileInfo > .board-item-date {
  font-size: 15px;
  color: gray;
  font-family: ns-r;
}

.board-item-update,
.board-item-delete {
  position: absolute;
  cursor: pointer;
}

.board-item-update > span,
.board-item-delete > span {
  font-size: 28px;
}

.board-item-update {
  right: 1.3cm;
  top: 0.2cm;
}

.board-item-delete {
  right: 0.5cm;
  top: 0.2cm;
  font-weight: 900;
}

.board-item-content {
  padding: 25px;
  padding-left: 5px;
  font-family: ns-r;
}

.board-write-wrap {
  overflow: hidden;
  width: 100%;
}

.board-write-textarea,
.board-write-options {
  float: left;
}

.board-write-wrap > .board-write-textarea {
  width: 80%;
  height: 200px;
}

.board-write-wrap > .board-write-textarea > textarea {
  border-radius: 5px;
  width: 98%;
  height: 200px;
  box-sizing: border-box;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
}

.board-write-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 200px;
  box-sizing: border-box;
}

.board-write-options button {
  font-size: 18px;
  height: 75px;
}

.board-write-options > select {
  width: 100%;
  padding-left: 5px;
}

.board-types {
  overflow: hidden;
  display: block;
  padding-left: 8px;
  padding-bottom: 10px;
}

.board-types > div {
  float: left;
}

.keyword2 {
  font-family: ns-r;
  font-size: 13px;
  border: none;
  padding: 3px 10px;
  color: #fff;
  background-color: #404259;
  border-radius: 5px;
}

.key-1 {
  background-color: #323673;
}

.key-2 {
  background-color: orangered;
}

.key-3 {
  background-color: green;
}

.key-4 {
  background-color: orange;
}

.insert-image-btn {
  font-size: 18px;
  width: 240px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
  border-radius: 5px;
  font-family: ns-eb;
  border: none;
  outline: none;
  color: #fff;
  background-color: #323673;
}

.insert-image-preview {
  width: 100%;
  padding-top: 50px;
  float: left;
  overflow: hidden;
  position: relative;
}

.insert-image-preview img {
  width: 200px;
  height: 100px;
  padding: 20px;
  object-fit: contain;
}

.insert-image-preview-top {
  font-size: 18px;
  font-family: ns-b;
  color: gray;
}

.insert-image-preview-items {
  float: left;
}

.preview-delete {
  color: #6a6da6;
  font-weight: 500;
  position: absolute;
  top: 1.4cm;
  left: 2.3cm;
  cursor: pointer;
}

.board-item-img-wrap {
}

.board-item-img-list {
  padding: 20px 0px;
  overflow: hidden;
}

.board-item-img-list > .board-item-img {
  float: left;
  padding: 10px;
  padding-left: 0;
}

.board-item-img-list > .board-item-img img {
  cursor: pointer;
  object-fit: cover;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.board-item-like {
  padding-bottom: 30px;
  overflow: hidden;
  width: 100%;
}

.board-item-like div {
  float: left;
}

.board-item-like > .board-item-like-text {
  color: #010440;
  font-size: 18px;
  font-family: ns-b;
  padding: 5px;
  padding-right: 10px;
  float: left;
}

.board-item-like > .board-item-like-icon {
  position: relative;
  float: right;
  width: 80%;
  height: 36px;
}

.board-item-like > .board-item-like-icon > .thumb_up,
.chat,
.chat-count {
  position: absolute;
  font-size: 28px;
  margin-top: 3px;

  width: 21px;
  height: 22px;
  padding: 5px;
  padding-bottom: 4px;
  color: #010440;
  padding-right: 20px;
}

.board-item-like > .board-item-like-icon > .thumb_up {
  cursor: pointer;
  right: 2cm;
}

.board-item-like > .board-item-like-icon > .thumb_up2,
.chat2 {
  position: absolute;
  font-size: 28px;
  margin-top: 3px;

  width: 21px;
  height: 22px;
  padding: 5px;
  padding-bottom: 4px;
  color: #6a6da6;

  cursor: pointer;
  right: 2cm;
  padding-right: 20px;
}

.board-item-like > .board-item-like-icon > .chat {
  cursor: pointer;
  right: 1cm;
}

.board-item-like > .board-item-like-icon > .chat-count {
  line-height: 21px;
  right: 0;
}

.board-item-like > .board-item-like-icon > .thumb_up:hover {
  color: #6a6da6;
  transition: all 0.2s linear;
  transform: rotate(-15deg);
}

.board-item-like > .board-item-like-icon > .chat:hover {
  color: #6a6da6;
  transition: all 0.2s linear;
  transform: rotate(-15deg);
}

.board-item-info > .board-item-content {
  padding-left: 5px;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #010440;
  font-family: ns-r;
  max-height: 300px;
}

.board-item-comment-wrap {
  display: none;
}

.board-item-comment {
  padding: 30px;
  overflow: hidden;
  border-top: 1px solid #ccc;
}

.board-item-comment > .board-item-comment-arrow,
.board-item-comment-list-wrap {
  float: left;
}

.board-item-comment-list-wrap {
  width: 800px;
}

.board-item-comment > .board-item-comment-arrow {
}

.board-item-comment > .board-item-comment-arrow > .arrow-right {
  font-size: 80px;
}

.board-item-comment-list {
  max-width: 800px;
  width: 800px;
  float: left;
  padding: 10px;
  padding-left: 100px;
}

.board-item-comment-list > .comment-profile {
  width: 1200px;
  float: left;
  overflow: hidden;
}

.comment-profile {
  width: 100%;
}

.comment-profile > .comment-account,
.comment-writer {
  float: left;
}

.comment-profile > .comment-account {
  padding: 3px;
}

.comment-profile > .comment-account span {
  font-size: 25px;
}

.comment-profile > .comment-writer {
  font-family: ns-b;
  font-size: 20px;
}

.comment-profile > .comment-date {
  float: left;
  padding-left: 10px;
  font-family: ns-r;
  font-size: 14px;
  line-height: 33px;
  color: gray;
}

.comment-recomment-btn,
.comment-update,
.comment-delete {
  float: left;
  font-size: 15px;
  padding: 3px;
  font-family: ns-b;
  cursor: pointer;
  color: #323673;
}

.comment-recomment-btn {
  padding-left: 570px;
}

.comment-content {
  padding-left: 32px;
  max-width: 970px;
  float: left;
  font-size: 15px;
}

.comment-write-wrap > .comment-write {
  overflow: hidden;
}

.comment-write-textarea,
.comment-write-btn {
  float: left;
}

.comment-write-textarea {
  width: 80%;
}

.comment-write-textarea > textarea {
  border-radius: 5px;
  width: 100%;
  margin: 0px 8px;
  margin-bottom: 10px;
  height: 100px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #ccc;
  padding: 10px;
}

.comment-write > .comment-write-btn {
  width: 15%;
  margin-left: 20px;
}

.comment-write > .comment-write-btn button {
  background-color: #323673;
  height: 98px;
}

.hideClass {
  display: none;
}

.comment-recomment-wrap {
  margin-left: 25px;
  width: 100%;
  float: left;
  padding: 10px;
  padding-bottom: 0;
}

.comment-recomment-arrow {
  float: left;
}

.comment-recomment-write {
}

.comment-recomment-write-wrap {
  margin-left: 20px;
  margin-bottom: 10px;
  display: none;
}

.comment-recomment-write-wrap > .comment-write > .comment-write-btn button {
  background-color: #6a6da6;
}

.comment-recomment-list {
  width: 100%;
  float: left;
  margin: 0px 20px;
  line-height: 20px;
}

.recomment-account > .material-icons {
  line-height: 28px;
}

.comment-recomment-list > .recomment-account,
.recomment-writer,
.recomment-date {
  float: left;
}

.comment-recomment-list > .recomment-account > span {
  font-size: 20px;
}

.comment-recomment-list > .recomment-writer {
  padding-left: 3px;
  font-size: 15px;
  line-height: 25px;
}

.comment-recomment-list > .recomment-date {
  font-size: 12px;
  color: gray;
  line-height: 28px;
  padding-left: 10px;
}

.comment-recomment-list > .recomment-recomment-btn,
.recomment-update,
.recomment-delete {
  float: left;
  font-size: 12px;
  line-height: 28px;
  cursor: pointer;
  font-family: ns-b;
  color: #323673;
}

.comment-recomment-list > .recomment-update,
.recomment-delete {
  padding-left: 5px;
}

.comment-recomment-list > .recomment-update {
  padding-left: 482px;
}

.recomment-content {
  padding-left: 54px;
  padding-bottom: 7px;
  float: left;
  font-size: 12px;
}

.comment-recomment-write-wrap > .comment-recomment-write {
  overflow: hidden;
}

.comment-recomment-write-textarea {
  width: 80%;
}

.comment-recomment-write-textarea > textarea {
  border-radius: 5px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #ccc;
  padding: 10px;
}

.comment-recomment-write-textarea,
.comment-recomment-write-btn {
  float: left;
}

.comment-recomment-write > .comment-recomment-write-btn {
  width: 15%;
}

.comment-recomment-write > .comment-recomment-write-btn button {
  margin-left: 12px;
  background-color: #323673;
  height: 98px;
}

.showClass {
  display: block;
}

.comment-recomment-write-wrap {
}

.comment-recomment-write-textarea {
}

.modal {
  display: none;
  z-index: 500;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.modalBox {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  position: sticky;
}

.community-view-join-btn > .st3:hover {
  background-color: #fff;
  color: #323673;
  border: 1px solid #ccc;
  transition: all 0.2s linear;
  box-sizing: border-box;
}

.community-view-join-btn > .st6:hover {
  background-color: #323673;
  color: #fff;
  transition: all 0.2s linear;
  box-sizing: border-box;
}

.warningMsg {
  line-height: 100px;
  padding-left: 20px;
  font-family: ns-b;
}
