@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-m;
  src: url(/public/font/NotoSansKR-Medium.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-eb;
  src: url(/public/font/NotoSansKR-ExtraBold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSansKR-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: ns-r;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/*메인 css*/
.App {
  display: flex;
  min-height: 100vh;
}
.App-content {
  width: 1000px;
  margin-left: 300px;
}

/*member sub 메뉴 css*/

.submenu {
  height: 0;
  overflow: hidden;
}
.submenu > li {
  height: 45px;
  box-sizing: border-box;
}
.submenu > li > a {
  display: block;
  padding: 10px;
  font-family: ns-b;
}

.menu > li:hover .submenu {
  height: 90px;
  transition-duration: 1s;
}

/*헤더 css*/
.header-wrap {
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
/*메뉴바 css*/
.nav-side {
  width: 300px;
}

.nav-side > ul {
  background-color: #f0f1f2;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: fixed;
}
.nav-side > ul > li > a {
  display: block;
  padding: 10px;
  font-family: ns-b;
  position: relative;
}
/*푸터 css*/
footer {
  padding: 50px;
  background-color: #f0f1f2;
}
.lineChart {
  width: 600px;
  height: 300px;
}
.maindashboard-title {
  font-size: 24px;
  font-family: ns-eb;
  color: #010440;
  margin-bottom: 20px;
}
