.date-range-icon {
  width: 30px;
}
.cashbook-btn-zone {
  display: flex;
  height: 60px;
}
.cashbook-btn-zone > button:nth-child(2) {
  color: #6a6da6;
}
.cashbook-btn-zone > button:nth-child(3) {
  color: #e66eb2;
}
.money-color {
  text-align: right;
  color: #6a6da6;
}
.money-color-spending {
  text-align: right;
  color: #e66eb2;
}
.cashbook-detail {
  text-align: center;
}
.rdrInputRanges {
  display: none;
}
.cashbook-date-range {
  display: flex;
}
.rdrDefinedRangesWrapper {
  margin-top: 55px;
  /*display: none; 여기*/
}
.rdrCalendarWrapper {
  margin: 20px;
  margin-top: 0;
}
.rdrDateRangePickerWrapper {
  flex-direction: row-reverse;
}
.rdrMonthAndYearPickers {
  flex-direction: row-reverse;
}
.date-range-input {
  width: 360px;
}
/*
.rdrCalendarWrapper > div:nth-child(1) {
  display: none;
}
.rdrCalendarWrapper > div:nth-child(3) {
  display: none;
}
*/
