.cashbook-all-wrap {
  padding: 50px;
  padding-top: 0;
  position: relative;
  width: 1000px;
}
.cashbook-title {
  font-size: 24px;
  font-family: ns-eb;
  color: #010440;
  margin-bottom: 40px;
}
.cashbook-content {
  position: absolute;
  width: 90%;
  top: 100px;
}
.date-range-area {
  position: relative;
  z-index: 500;
  background-color: #fff;
  margin-left: 14px;
}
.date-range-area.toggle-off {
  display: none;
}
.date-range-icon {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.date-range-icon svg {
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: #fff;
  background-color: #323673;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
.date-range-icon svg:hover {
  background-color: #323673;
}
.date-range-icon input {
  width: 368.97px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.date-range-icon input:hover {
  cursor: pointer;
}
.range-chg {
  position: absolute;
  top: 320px;
  right: 310px;
}
.range-chg > button {
  margin-top: 10px;
  margin-right: 10px;
}
.add-del-zone {
  display: flex;
  justify-content: flex-end;
}
.cashbook-btn-zone {
  display: flex;
  height: 60px;
}
.cashbook-btn-zone > button {
  font-size: 18px;
}
.cashbook-btn-zone > button:nth-child(2) {
  color: #323673;
}
.cashbook-btn-zone > button:nth-child(3) {
  color: #993d3d;
}
.money-color {
  text-align: right;
  color: #323673;
  font-weight: 900;
}
.money-color-spending {
  text-align: right;
  color: #993d3d;
  font-weight: 900;
}
.rdrInputRanges {
  /*계속 사용안할부분이라 넌처리*/
  display: none;
}

.rdrDefinedRangesWrapper {
  margin-top: 55px;

  /*display: none; 여기*/
}
.rdrCalendarWrapper {
  margin: 20px;
  margin-top: 0;
}
.rdrDateRangePickerWrapper {
  flex-direction: row-reverse;
}
.rdrDateRangePickerWrapper * {
  font-size: 12px;
}
.rdrMonthAndYearPickers {
  flex-direction: row-reverse;
}
.date-range-input {
  width: 360px;
}
/*
.rdrCalendarWrapper > div:nth-child(1) {
  display: none;
}
.rdrCalendarWrapper > div:nth-child(3) {
  display: none;
}
*/
.cashbook-detail {
  height: 500px;
  overflow-y: scroll;
  text-align: center;
}
.cashbook-detail > table {
  width: 100%;
}
.add-btn > svg {
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: #323673;
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
.add-btn > svg:hover {
  cursor: pointer;
  background-color: #323673;
}
.add-btn {
  display: flex;
  justify-content: flex-end;
}
.add-btn.etc-btn > svg {
  color: #323673;
  background-color: #fff;
}
.add-btn.etc-btn > svg:hover {
  background-color: #323673;
  color: #fff;
}
.cashbook-checkbox {
  width: 16px !important;
}
.css-1ytlwq5-MuiAlert-icon {
  align-items: center;
}
.content-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*TABLE*/
.cashbook-detail {
  border: 1px solid #323673;
  border-radius: 3px;
}
.cashbook-detail > table {
  border-collapse: collapse;
}
.cashbook-detail > table > thead > tr {
  background-color: #323673;
  color: #fff;
}
.cashbook-detail > table tr {
  border: 1px solid rgba(50, 54, 115, 0.3);
}
.cashbook-detail > table td {
  padding: 10px;
  font-size: 16px;
}
.cashbook-tr {
  font-weight: 600;
}
/*풀캘린더*/
.fc-event-title-container {
  text-align: right;
}
/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
  color: #bf0404;
}
/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: #142f40;
}
.fc-event-title-container.income-box {
  color: #323673;
}
.fc-event-title-container.spending-box {
  color: #993d3d;
}
.fc .fc-toolbar.fc-header-toolbar {
  /*툴바 타이틀*/
  margin: 0;
  padding: 0 40px;
  background-color: #323673;
  height: 63px;
  font-weight: 600;
  font-size: 12px;
  line-height: 29px;
  color: #fff;
  border-radius: 20px 20px 0px 0px;
}
.fc-toolbar-chunk {
  display: flex;
}
.fc .fc-button-primary {
  background-color: transparent;
  border: none;

  span {
    font-weight: 500;
    font-size: 28px;
  }

  :hover {
    background-color: transparent;
  }
}
.fc-theme-standard th {
  /*요일*/
  height: 32px;
  padding-top: 3.5px;
  background: #e5edff;
  border: 1px solid #dddee0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #7b7b7b;
}
.fc .fc-daygrid-day.fc-day-today {
  /*오늘 날짜*/
  background-color: rgba(1, 4, 64, 0.1);
}

.fc .fc-daygrid-day-frame {
  /*날짜별 그리드*/
  padding: 5px;
}
.fc .fc-daygrid-day-top {
  /*일자 왼쪽으로*/
  color: #151426;
  flex-direction: row;
  margin-bottom: 3px;
}

.fc-event {
  /* 각 이벤트 요소*/
  font-weight: 500;
  font-size: 14px;
}
.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  cursor: pointer;
}
.loop-style {
  color: #323673;
}
