<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "kr.or.iei.cashbook.model.dao.CashbookDao">
  
  <select id="cashbookList" resultType="cashbook">
  	<![CDATA[
  	select
  		cashbook_no, member_no, cashbook_finance, to_char(cashbook_date, 'yyyy-mm-dd') as cashbook_date,
  		cashbook_loop, loop_month, cashbook_asset, cashbook_category,
  		(select category_title from category_tbl where category_no = cashbook.cashbook_category) as CATEGORY_TITLE,
  		cashbook_money, cashbook_content, cashbook_memo
  	from cashbook
  	where cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
  	order by 1 desc
  	]]>
  </select>
  
  	<select id="totalSum" resultType="int">
  		<![CDATA[
		select nvl(sum(CASHBOOK_MONEY),0) from cashbook
		where cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	<select id="sumOfIncome" resultType="int">
		<![CDATA[
		select nvl(sum(CASHBOOK_MONEY),0) from cashbook
		where CASHBOOK_FINANCE=1 and cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	<select id="sumOfSpending" resultType="int">
		<![CDATA[
		select nvl(sum(CASHBOOK_MONEY),0) from cashbook
		where CASHBOOK_FINANCE=2 and cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	
	<select id="totalCount" resultType="int">
		<![CDATA[
		select nvl(count(CASHBOOK_MONEY),0) from cashbook
		where cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	<select id="countOfIncome" resultType="int">
		<![CDATA[
		select nvl(count(CASHBOOK_MONEY),0) from cashbook
		where CASHBOOK_FINANCE=1 and cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	<select id="countOfSpending" resultType="int">
		<![CDATA[
		select nvl(count(CASHBOOK_MONEY),0) from cashbook
		where CASHBOOK_FINANCE=2 and cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
</mapper>
