<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "kr.or.iei.cashbook.model.dao.CashbookDao">
  
  <select id="cashbookList" resultType="cashbook">
  	<![CDATA[
  	select
  		cashbook_no, member_no, cashbook_finance, to_char(cashbook_date, 'yyyy-mm-dd') as cashbook_date,
  		cashbook_loop, loop_month, cashbook_asset, cashbook_category,
  		(select category_title from category_tbl where category_no = cashbook.cashbook_category) as CATEGORY_TITLE,
  		cashbook_money, cashbook_content, cashbook_memo, challenge_no
  	from cashbook
  	where cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
  	order by cashbook_date desc
  	]]>
  </select>
  
  	<select id="totalSum" resultType="int">
  		<![CDATA[
		select nvl(sum(CASHBOOK_MONEY),0) from cashbook
		where cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	<select id="sumOfIncome" resultType="int">
		<![CDATA[
		select nvl(sum(CASHBOOK_MONEY),0) from cashbook
		where CASHBOOK_FINANCE=1 and cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	<select id="sumOfSpending" resultType="int">
		<![CDATA[
		select nvl(sum(CASHBOOK_MONEY),0) from cashbook
		where CASHBOOK_FINANCE=2 and cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	
	<select id="totalCount" resultType="int">
		<![CDATA[
		select nvl(count(CASHBOOK_MONEY),0) from cashbook
		where cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	<select id="countOfIncome" resultType="int">
		<![CDATA[
		select nvl(count(CASHBOOK_MONEY),0) from cashbook
		where CASHBOOK_FINANCE=1 and cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	<select id="countOfSpending" resultType="int">
		<![CDATA[
		select nvl(count(CASHBOOK_MONEY),0) from cashbook
		where CASHBOOK_FINANCE=2 and cashbook_date >= #{startDate} and cashbook_date <= #{endDate} and member_no=(select member_no from member where member_id=#{memberId})
		]]>
	</select>
	
	
	<select id="category" resultType="category">
		select category_no, category_title, category_ref from category_tbl
		where category_default=1 and (member_no is null or member_no=(select member_no from member where member_id=#{memberId}))
		order by category_no
	</select>
	
	<insert id="insertCashbook">
		insert into cashbook values
			(CASHBOOK_SEQ.nextval,
			(select member_no from member where member_id=#{memberId}),
			 #{cashbookFinance},#{cashbookDate}, #{cashbookLoop},
			 #{loopMonth}, #{cashbookAsset}, #{cashbookCategory},
			 #{cashbookMoney}, #{cashbookContent}, #{cashbookMemo}, #{challengeNo})
	</insert>
	
	<!--파이대시보드-->
	<select id="pieDash" resultType="int">
		select sum(cashbook_money) from cashbook 
		where TO_CHAR(cashbook_date,'MM')= #{month} 
		and member_no=(select member_no from member where member_id=#{memberId}) 
		group by cashbook_finance
	</select>
	
	<!--바대시보드-->
	<select id="barDash" resultType="category">	        
		select sum(cashbook_money) cashbook_money,category_title, category_ref
		from cashbook c
		join category_tbl ct on (cashbook_category = category_no)
		where TO_CHAR(cashbook_date,'MM') = #{month}
		and c.member_no = (select member_no from member where member_id=#{memberId})
		and (ct.member_no is null or ct.member_no = (select member_no from member where member_id=#{memberId}))
		group by category_title, category_ref 
	</select>
	
	<delete id="deleteCashbook">
		delete from cashbook where cashbook_no =#{cashbookNo} and member_no=(select member_no from member where member_id=#{memberId})	
	</delete>

	<update id="updateCashbook">
		update cashbook set
			 cashbook_finance = #{cashbookFinance},
			 cashbook_date = #{cashbookDate},
			 cashbook_loop = #{cashbookLoop},
			 loop_month = #{loopMonth},
			 cashbook_asset = #{cashbookAsset},
			 cashbook_category = #{cashbookCategory},
			 cashbook_money = #{cashbookMoney},
			 cashbook_content = #{cashbookContent},
			 cashbook_memo = #{cashbookMemo},
			 challenge_no = #{challengeNo}
		 where cashbook_no = #{cashbookNo} and member_no = (select member_no from member where member_id=#{memberId})
	</update>

	
</mapper>
