<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.community.model.dao.CommunityDao">

	<!-- 
	<select id="communityList" resultType="community">
		
	SELECT * FROM
	    (SELECT ROWNUM AS RNUM, C.* FROM
	    (SELECT
	        COMMUNITY_NO,
	        COMMUNITY_TITLE,
	        COMMUNITY_SUBTITLE,
	        COMMUNITY_WRITER,
	        MEMBER_ID,
	        COMMUNITY_CONTENT,
	        TO_CHAR(COMMUNITY_DATE, 'YYYY-MM-DD') AS COMMUNITY_DATE,
	        COMMUNITY_THUMB,
	        COMMUNITY_STATUS,
	        COMMUNITY_PARTI
	    FROM COMMUNITY
	    JOIN MEMBER ON (COMMUNITY_WRITER = MEMBER_NO)
	    WHERE COMMUNITY_STATUS = 1
	    ORDER BY 1 DESC)C)
	WHERE RNUM BETWEEN 1 AND 100

	</select>
	 -->
	 
	<select id="communityList" resultMap="getCommunityList">
		SELECT * FROM
		    (SELECT ROWNUM AS RNUM, C.* FROM
		    (SELECT
		        COMMUNITY_NO,
		        COMMUNITY_TITLE,
		        COMMUNITY_SUBTITLE,
		        COMMUNITY_WRITER,
		        MEMBER_NO,
		        MEMBER_ID,
		        MEMBER_EMAIL,
		        COMMUNITY_CONTENT,
		        TO_CHAR(COMMUNITY_DATE, 'YYYY-MM-DD') AS COMMUNITY_DATE,
		        COMMUNITY_THUMB,
		        COMMUNITY_STATUS,
		        COMMUNITY_PARTI
		    FROM COMMUNITY
		    JOIN MEMBER ON (COMMUNITY_WRITER = MEMBER_NO)
		    WHERE COMMUNITY_STATUS = 1
		    ORDER BY 1 DESC)C)
		WHERE RNUM BETWEEN 1 AND 100
	</select>
	
	<resultMap type="community" id="getCommunityList">
		<result column="community_no" property="communityNo" />
		<result column="community_title" property="communityTitle" />
		<result column="community_subtitle" property="communitySubTitle" />
		<result column="community_writer" property="communityWriter" />
		<result column="member_no" property="memberNo" />
		<result column="member_id" property="memberId" />
		<result column="member_email" property="memberEmail" />
		<result column="community_content" property="communityContent" />
		<result column="community_date" property="communityDate" />
		<result column="community_thumb" property="communityThumb" />
		<result column="community_status" property="communityStatus" />
		<result column="community_parti" property="communityParti" />
		<collection 
			property="typeList"
			select="selectOneCommunityType"
			column="community_no"
			javaType="java.util.List"
			ofType="communityType"
		/>
	</resultMap>

	<insert id="insertCommunity">
		insert into community values(community_seq.nextval, #{communityTitle}, #{communitySubTitle}, (select member_no from member where member_id=#{memberId}), #{communityContent}, sysdate, #{communityThumb}, 1, 0)
		<!-- 위 방법이 있고, checkId로해서 select로 번호 받아와서 다시하는 방법도 있음 -->
		<selectKey resultType="int" keyProperty="communityNo" order="AFTER">
			select max(community_no) from community
		</selectKey>
	</insert>
	
	<insert id="insertCommunityType">
		insert into community_type values(COMMUNITY_TYPE_SEQ.NEXTVAL, #{communityNo}, #{communityTypeDiv})
	</insert>
	
	<select id="selectOneCommunity" resultMap="getCommunity">
		SELECT
		    COMMUNITY_NO,
		    COMMUNITY_TITLE,
		    COMMUNITY_SUBTITLE,
		    COMMUNITY_WRITER,
		    MEMBER_NO,
		    MEMBER_ID,
		    MEMBER_EMAIL,
		    COMMUNITY_CONTENT,
		    TO_CHAR(COMMUNITY_DATE, 'YYYY-MM-DD HH:MI') AS COMMUNITY_DATE,
		    COMMUNITY_THUMB,
		    COMMUNITY_STATUS,
		    COMMUNITY_PARTI
		FROM
		    COMMUNITY
		JOIN
		    MEMBER ON (COMMUNITY_WRITER = MEMBER_NO)
		WHERE
		    COMMUNITY_NO = #{communityNo}
	</select>
	
	<select id="selectOneCommunityType" resultType="communityType">
		SELECT * FROM COMMUNITY_TYPE WHERE COMMUNITY_NO = #{communityNo}
	</select>
	
	<resultMap type="community" id="getCommunity">
		<result column="community_no" property="communityNo" />
		<result column="community_title" property="communityTitle" />
		<result column="community_subtitle" property="communitySubTitle" />
		<result column="community_writer" property="communityWriter" />
		<result column="member_no" property="memberNo" />
		<result column="member_id" property="memberId" />
		<result column="member_email" property="memberEmail" />
		<result column="community_content" property="communityContent" />
		<result column="community_date" property="communityDate" />
		<result column="community_thumb" property="communityThumb" />
		<result column="community_status" property="communityStatus" />
		<result column="community_parti" property="communityParti" />
		<collection 
			property="typeList"
			select="selectOneCommunityType"
			column="community_no"
			javaType="java.util.List"
			ofType="communityType"	
		/>
	</resultMap>
	
	<select id="communityBoardList" resultMap="getCommunityBoardList">
	SELECT * FROM
	    (SELECT ROWNUM AS RNUM, C.* FROM
	    (SELECT
	        COMMUNITY_BOARD_NO,
	        COMMUNITY_BOARD_WRITER,
	        MEMBER_ID,
	        COMMUNITY_BOARD_CONTENT,
	        TO_CHAR(COMMUNITY_BOARD_DATE, 'YYYY.MM.DD AM HH"시"MI"분"') AS COMMUNITY_BOARD_DATE,
	        COMMUNITY_REF,
	        COMMUNITY_BOARD_REF
	    FROM COMMUNITY_BOARD
	    JOIN MEMBER ON (COMMUNITY_BOARD_WRITER = MEMBER_NO)
	    WHERE COMMUNITY_REF = #{communityNo}
	    ORDER BY 1 DESC)C)
	WHERE RNUM BETWEEN 1 AND 100
	</select>
	
	<select id="communityFileList" resultType="communityBoardFile">
		select * from community_board_file where community_board_no = #{communityBoardNo}
	</select>
	
	<select id="selectOneCommunityBoardType" resultType="communityBoardType">
		<!-- 
		SELECT * FROM COMMUNITY_TYPE WHERE COMMUNITY_NO = #{communityNo}
		 -->
		 select * from community_board_type where community_board_no = #{communityBoardNo}
	</select>
	
	<resultMap type="communityBoard" id="getCommunityBoardList">
		<result column="community_board_no" property="communityBoardNo" />
		<result column="community_board_writer" property="communityBoardWriter" />
		<result column="member_id" property="memberId" />
		<result column="community_board_content" property="communityBoardContent" />
		<result column="community_board_date" property="communityBoardDate" />
		<result column="community_ref" property="communityRef" />
		<result column="community_board_ref" property="communityBoardRef" />
		
		<collection 
			property="communityBoardTypeList"
			select="selectOneCommunityBoardType"
			column="community_board_no"
			javaType="java.util.List"
			ofType="communityBoardType"
		/>
		
		<collection 
			property="fileList"
			select="communityFileList"
			column="community_board_no"
			javaType="java.util.List"
			ofType="communityBoardFile"
		/>
		
	</resultMap>
	
	<insert id="insertBoard">
		insert into community_board values
		(COMMUNITY_BOARD_SEQ.NEXTVAL, #{communityBoardWriter}, #{communityBoardContent}, sysdate, #{communityRef}, null)
		<selectKey resultType="int" keyProperty="communityBoardNo" order="AFTER">
			select max(community_board_no) from community_board
		</selectKey>
	</insert>
	
	<insert id="insertBoardFile">
		insert into community_board_file values(COMMUNITY_BOARD_FILE_SEQ.nextval, #{communityBoardNo}, #{filename}, #{filepath})
	</insert>
	
	<insert id="insertCommunityBoardType">
		insert into community_board_type values(COMMUNITY_BOARD_TYPE_SEQ.NEXTVAL, #{communityBoardNo}, #{communityBoardTypeDiv})
	</insert>

</mapper>
