<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace= "kr.or.iei.member.model.dao.MemberDao">
	<select id="selectOneMember" resultType="member">
		select * from member where member_id=#{memberId}
	</select>
	
	<select id="selectOneMemberPw" resultType="member">
		select * from member where member_id=#{memberId} and member_name=#{memberName} and member_email=#{memberEmail}
	</select>
	
	<select id="selectOneMemberId" resultType="member">
		select * from member where member_name=#{memberName} and member_email=#{memberEmail}
	</select>
	
	
	<insert id="insertMember">
		insert into member values(member_seq.nextval,#{memberId},#{memberPw},#{memberName},#{memberPhone},#{memberEmail},1,0,#{imgFile},sysdate)
	</insert>

	<delete id="deleteMember">
		delete from member where member_id=#{memberId}
	</delete>
	
	<update id="updateMemberInfo">
		update member set member_phone=#{memberPhone}, member_email=#{memberEmail}, img_file=#{imgFile} where member_id=#{memberId}
	</update>
	
	<update id="updatePwMember">
		update member set member_pw=#{memberPw} where member_id=#{memberId}
	</update>
	
	<update id="updateNewPwMember">
		update member set member_pw=#{memberPw} where member_id=#{memberId}
	</update>
	
	<!--성공시 레벨업-->
	<update id="upgradeLevel">
	<![CDATA[
		update member set challenge_status =case
			when challenge_status+1 > 100 then 100
			else challenge_status+1
		end
		where member_id = #{memberId}
	]]>
	</update>
	
	<!--실패시 레벨다운-->
	<update id="downLevel">
	<![CDATA[
		update member set challenge_status =case
			when challenge_status-1 < 0 then 0
			else challenge_status-1
		end
		where member_id = #{memberId}
	]]>
	</update>
	
	<!--포기시 레벨다운-->
	<update id="downMember">
	<![CDATA[
		update member set challenge_status =case
			when challenge_status-1 < 0 then 0
			else challenge_status-1
		end
		where member_no = #{memberNo}
	]]>
	</update>
	

	
	
	
</mapper>