/*챌린지 제목*/
.challenge-title {
  font-size: 20px;
  border-bottom: 2px solid #ccc;
}
/*챌린지 리스트*/
.challenge-item-info {
  border: 1px solid black;
  width: 300px;
  height: 100px;
}
/*메뉴css*/
.challengeMenu-tab > ul {
  list-style-type: none;
  overflow: hidden;
}
.challengeMenu-tab > ul > li > a {
  float: left;
  width: calc(100% / 2);
  height: 100px;
  line-height: 100px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #ccc;
  cursor: pointer;
}
.challengeMenu-tab > ul > li > a.active-side {
  border-top: 3px solid #323673;
  color: #323673;
  font-weight: 900;
  border-bottom: none;
}
/*Frm css*/
.challenge-frm-top {
  width: 700px;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
/*챌린지 타입 css*/
.challenge-kind div {
  border: 1px solid black;
  width: 35px;
  border-radius: 30px;
}
/*챌린지 글쓰기 버튼*/
.board-write-btn {
  width: 150px;
}
/*챌린지 버튼*/
.challenge-btn-box {
  width: 150px;
}
/*챌린지 리스트*/
.challenge-content {
  text-align: center;
  height: 50vh;
}
.challenge-list-wrap1 {
  float: left;
  height: auto;
  margin: 80px;
  position: relative;
}

.challenge-list-wrap2 {
  display: inline-block;
  height: auto;
  margin-left: 10px;
  margin: 80px;
  position: relative;
}

.challenge-view-content {
  width: 700px;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.challenge-item-info div {
  position: relative;
}

.challenge-item-info img {
  opacity: 0.8;
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}
